    <link  rel="stylesheet" href="assets/css/chat.css">
    <div id="chat-page">
        <div class="chat-container">
            <div class="chat-header">
                <h2>VIRTUAL DOCTOR</h2>
            </div>
            
            <ul id="messageArea">
                {{#each client.messages as |message|}}
                {{!-- <li class="event-message"><p>{{message.type}}</p></li> --}}
                <li class="chat-message"><i style="background-color: {{color}}">{{avatar-generater message.user}}</i><span>{{message.user}}</span><p>{{message.content}}</p></li>
                {{/each}}
            </ul>
            <form id="messageForm" name="messageForm">
                <div class="form-group">
                    <div class="input-group clearfix">
                        {{input type="text" value=message placeholder="Type a message..." autocomplete="off" class="form-control"}}
                        <button type="submit" {{action 'sendMessage' message}} class="primary">Send</button>
                        <button type="submit" {{action 'reload'}} class="primary">Leave</button>

                    </div>
                </div>
            </form>
        </div>
    </div>