<div class="wrap-login100">


  <div class="login100-pic js-tilt" data-tilt>
    <img src="assets/images/doc.jpg" alt="IMG">
  </div>

  <form class="login100-form validate-form">


    <span class="login100-form-title">
      Sign Up for Virtual Doctor
    </span>
    <div class="wrap-input100 validate-input" data-validate = "Password is required">
    <label>Name:</label> {{input type="text" value=name2 class="form-control" placeholder="Enter Name"}}
      <span class="focus-input100"></span>
      <span class="symbol-input100">
        <i class="fa fa-lock" aria-hidden="true"></i>
      </span>
    </div>
    <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
      <label>Email:</label> {{input type="text" value=email2 class="form-control"  placeholder="enter email"}}
      <span class="focus-input100"></span>
      <span class="symbol-input100">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </span>
    </div>



    <div class="wrap-input100 validate-input" data-validate = "Password is required">
      <label>Password:</label> {{input type="password" class="form-control" value=password2 placeholder="Enter password"}}						<span class="focus-input100"></span>
      <span class="symbol-input100">
        <i class="fa fa-lock" aria-hidden="true"></i>
      </span>
    </div>

    <div class="wrap-input100 validate-input" data-validate = "Password is required">
    <label>Username:</label> {{input type="text" class="form-control" value=username2 placeholder="Username"}}
      <span class="focus-input100"></span>
      <span class="symbol-input100">
        <i class="fa fa-lock" aria-hidden="true"></i>
      </span>
    </div>
    <div class="container-login100-form-btn">
      <button {{action 'signupDetails'}}class="login100-form-btn">
        Create Account
      </button>
    </div>
  </form>
</div>
