{{nav-bar}}
<div class="wrapper">
    <nav id="sidebar">
      <div class="sidebar-header">
          <h3>Hello Dr.{{name}},
              <br>Welcome
          </h3>
      </div>
      <ul class="list-unstyled components">

            {{!-- <li >
              <a {{action "patientList"}} style="color:black;"href="#">View Requested Patients</a>

            </li>
            <li>
                <a {{action "doctorsSame"}} style="color:black;"href="#">Total Doctors of same designation</a>
            </li>
            <li>
                <a{{action "totalDoctors"}} style="color:black;" href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Total Doctors</a>
            </li>
             --}}
             {{#each messages as |patList|}} 
             <li>
                <a {{action "initChat" patList}}  style="color:black;"href="#">{{patList.sender}}</a>
            </li>
            {{/each}}
        </ul>
    </nav>
<div id="content">
 {{#if chatstart}}
 <div style="padding:40px;"class="h-100 row align-items-center">

 <div class="container-login100-form-btn">

						<button {{action "heartChat"}} style="width: 20em;  height: 2em;" class="login100-form-btn">
								start to chat
						</button>

					</div>
                    </div>
{{/if}}
{{#if chatinit}}

{{chat-start}}
{{/if}}
</div>

</div>
