{{nav-bar}}
{{!-- <link rel="stylesheet" href="assets/css/prof.css"> --}}
{{!-- <div class="wrapper"style="background-color:#f6e8fc;">

    <!-- Sidebar -->
    <nav id="sidebar">
      <div class="sidebar-header">
          <h3>Welcome,<br>{{username}}</h3>
      </div>
      <ul class="list-unstyled components">
        <strong> <p>Categories</p></strong>

            <li >
              <a {{action "general"}}style="color:black;"href="#">General</a>

            </li>
            <li>
                <a {{action "DBP"}}style="color:black;"href="#">Diabetes & Blood Pressure</a>
            </li>
            <li>
                <a {{action "heart"}}style="color:black;" href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Heart-Related</a>
            </li>
            <li>
                <a {{action "stress"}}style="color:black;" href="#">Stress-management</a>
            </li>
        </ul>
    </nav>
    </div> --}}
<link rel="stylesheet" href="/assets/css/prof.css">
<div style="text-align:center;padding:10px;"id="profile-css" class="container">
    {{#if docOrPat}}
  <img src="/assets/images/doc.jpeg" alt="John" style="width:50%;height:50%;border-radius:50%;">
    {{/if}}
    {{#unless docOrPat}}
      <img src="/assets/images/pat.png" alt="John" style="width:50%;height:50%;border-radius:50%;">
    {{/unless}}
  <h1>Name:{{name}}</h1>
  {{!-- <h1>{{name}}</h1> --}}

  {{!-- <p class="title">username:{{username}}</p> --}}
  <h4 class="title">Username:{{username}}</h4>
  {{!-- <p>{{role}}</p> --}}
    {{#if docOrPat}}
    <h4>Role:{{role}}</h4>
    {{else}}
    <h4>Role:{{role}}</h4>
    {{/if}}

  <a href="#"><i class="fa fa-dribbble"></i></a> 
  <a href="#"><i class="fa fa-twitter"></i></a> 
  <a href="#"><i class="fa fa-linkedin"></i></a> 
  <a href="#"><i class="fa fa-facebook"></i></a> 
</div>
